@import url('https://fonts.googleapis.com/css?family=Homemade+Apple|Special+Elite&display=swap');

/* ==============  MEDIA QUERIES   ==============*/

/*--------Bootstrap Breakpoints---------*/

/* xs devices (<576px) = default in Bootstrap (hence no media query)

sm devices (>576px) = @media max-width: 576px

md devices (>768px) = @media max-width: 768px

lg devices (>992px) = @media max-width: 992px

xl devices (>1200px) = @media max-width: 1200px
*/

/*--------Media Queries--------*/

/* max-width, not min-width, for mobile-first styling */

@media (max-width: 992px) {}

@media (max-width: 768px) {}

@media (max-width: 576px) {}


/* ==============STYLING==============*/

/*--------HTML, BODY Styling-----*/

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Special Elite', sans-serif;
    color: #fff;
    background-color: #2c2c2d;
    box-sizing: border-box;
}

/*------------BUTTON STYLING--------*/

.btn-secondary {
    background-color: #c30e0e;
    border-color: #c30e0e;
    margin-top: 10%;
    margin-bottom: 10%;
    font-size: 350%;
    padding-top: 1.5%;

}


/*------------Instructions STYLING--------*/

.instructions {
    font-size: 150%;
    display: inline-block;
    margin-left: 6%;
    margin-right: 6%;
}


/*--------------GAME.html styling---------*/

*,
*::before,
*::after {
    box-sizing: inherit;
}


.gameContainer {
    /* Flexbox */
    flex-direction: column;
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 25px;
}

.nav-link {
    padding-top: 5px;
    color: #fff;
    font-size: 25px;
}

a:hover {
    color: #424242;
    text-decoration: none;
}


/*------------REQUIRMENTS Styling--------*/

.requirements {
    text-align: left;
    margin-top: 35px;
    margin-bottom: 25px;
    width: 950px;
    font-size: 200%;

}

.requirements .timer {
    float: left;
}

.requirements .restart {
    float: right;
}

.requirements .moves {
    float: inherit;
}

.requirements-timer {
    text-align: center;
    margin-top: 35px;
    font-size: 300%;
}


/*------------GAMEDECK Styling ---------*/

.gamedeck {
    min-height: 600px;
    width: 1350px;
    background: #888888;
    border-radius: 15px;
    padding: 30px;
    /* Flexbox */
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.gamedeck .card {
    height: 175px;
    width: 175px;
    background: #424242;
    border-radius: 8px;
    box-shadow: 5px 2px 20px 0 rgba(46, 61, 73, 0.5);
    margin: 1%;
    /* shrink font so that when a card is 'flipped', font enlarges */
    font-size: 0;
    color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    /* add cursor to indicate interactivity to user */
    cursor: pointer;
}

/* for click reveal */

.gamedeck .card.open {
    transform: rotateY(0) !important;
    font-size: 75px;
    background: #421a1a;
    /* fix for webpages */
    -webkit-backface-visibility: visible !important;
    backface-visibility: visible !important;
    /* return cursor to default to inform user card is no longer clickable */
    cursor: default;
}

.gamedeck .card.show {
    font-size: 75px;
    display: inherit!important;
}

.gamedeck .card.close {
    pointer-events: none;
    opacity: 0.9;
}

.gamedeck .card.matched {
    cursor: default;
    background: #523632;
    font-size: 75px;
}
